/* === Colors === */

$primary: #0c6961
$secondary: #f47f60
$background: #fafafa
$testimonial-background: #fbf3f0

/* === Breakpoints === */

$vs: 500px
$xs: 600px
$sm: 960px
$md: 1280px
$lg: 1920px

.homepage-container
    cursor: default
    background-color: $background

    .hero
        height: 630px
        width: 100%
        display: flex
        flex-direction: column
        justify-content: center
        align-items: flex-start
        position: relative
        color: white
        z-index: 1
        padding-inline: 200px
        background-color: $primary

        @media screen and ( max-width: $md )
            padding-inline: 125px

        @media screen and ( max-width: $sm )
            padding: 45px 30px
            height: fit-content

        &::after
            content: ''
            display: block
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            opacity: 0.1
            background-image: url('../../assets/hero-background.jpg')
            background-repeat: no-repeat
            background-position: 50% 45%
            background-size: cover
            pointer-events: none
            filter: blur(1.5px)

        .subtitle
            width: 50%
            margin: 30px 0 60px // top sides bottom

            @media screen and ( max-width: $sm )
                width: 75%

            @media screen and ( max-width: $xs )
                width: 100%

        .button
            color: $secondary
            width: 180px
            height: 40px
            background-color: transparent
            border: 2px solid $secondary
            border-radius: 25px
            text-transform: capitalize
            font-weight: 600
            font-size: 16px
            letter-spacing: 1.5px
            transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out
            z-index: 2

            &:hover
                color: white
                background-color: $secondary

    .about-us
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 40px 20px
        margin-bottom: 10px
        overflow-x: hidden

        .wrapper
            display: flex
            justify-content: space-between
            align-items: center
            width: 800px

            @media screen and ( max-width: 875px )
                flex-direction: column
                width: 100%
                justify-content: center
                padding: 0 20px

            .about-image
                width: 350px
                height: auto
                margin-right: 50px

                @media screen and ( max-width: 875px )
                    margin-bottom: 20px
                    margin-right: 0

                @media screen and ( max-width: $xs )
                    width: 100%

            .about-text
                font-size: 25px
                margin-block: 10px

                @media screen and ( max-width: 875px )
                    text-align: center
                    font-size: 20px

            .paragraph
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center

    .statistics
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        position: relative
        z-index: 1
        padding: 30px 0
        height: fit-content
        background-color: $primary

        &::after
            content: ''
            display: block
            position: absolute
            left: 0
            top: 0
            width: 100%
            height: 100%
            opacity: 0.1
            background-image: url('../../assets/statisitcs.jpg')
            background-repeat: no-repeat
            background-position: 50% center
            background-size: cover
            pointer-events: none
            filter: blur(1.5px)

    .testimonial-container
        display: flex
        flex-direction: column
        height: fit-content
        width: 100%
        color: black
        background-color: $testimonial-background
        padding: 40px 200px 0

        @media screen and ( max-width: $lg )
            padding-inline: 100px

        @media screen and ( max-width: $md )
            padding-inline: 0

        .testimonial
            height: 350px
            width: 100%
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            border-radius: 0
            background-color: transparent

            @media screen and ( max-width: $xs )
                padding-inline: 15px

            .info
                display: flex
                justify-content: space-between
                align-items: center
                width: 255px

                .image
                    width: 80px
                    height: 80px
                    border-radius: 50%
                    object-fit: cover
                    object-position: center center

                .name-and-device
                    display: flex
                    flex-direction: column
                    justify-content: flex-start
                    align-items: flex-start

    footer
        background-color: #26272b
        border-top: 1px solid black
        width: 100%
        height: fit-content
        padding: 20px 60px

        @media screen and ( max-width: $xs )
            padding: 20px

        .wrapper
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%

            @media screen and ( max-width: $vs )
                flex-direction: column
                justify-content: center
                align-items: center

            .content
                display: flex
                flex-direction: column
                justify-content: flex-start
                align-items: flex-start

                @media screen and ( max-width: $vs )
                    justify-content: center
                    align-items: center

            .contact
                display: flex
                flex-direction: row
                justify-content: flex-end
                align-items: flex-end

                .linkedin
                    display: flex
                    justify-content: center
                    align-items: center
                    border-radius: 50%
                    width: 40px
                    height: 40px
                    margin-left: 7px
                    color: #818a91
                    background-color: #33353d
                    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out

                    @media screen and ( max-width: $vs )
                        margin: 20px 0 0 0

                    &:hover
                        color: white
                        background-color: #0A66C2

                .github
                    display: flex
                    justify-content: center
                    align-items: center
                    border-radius: 50%
                    width: 40px
                    height: 40px
                    margin-left: 7px
                    color: #818a91
                    background-color: #33353d
                    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out

                    @media screen and ( max-width: $vs )
                        margin-top: 20px

                    &:hover
                        color: white
                        background-color: #1b1f23
