/* === Breakpoints === */

$vs: 400px
$xs: 600px
$sm: 960px
$md: 1280px
$lg: 1920px

.root
    display: flex
    justify-content: flex-start
    align-items: flex-start
    width: 100%
    height: 212px
    padding-block: 5px
    margin-block: 10px

    @media screen and ( max-width: $sm )
        height: 100%

    .image-container
        display: flex
        justify-content: center
        align-items: center
        width: 280px
        min-width: 280px
        height: 200px
        margin-right: 25px
        background-color: white

        @media screen and ( max-width: $lg )
            width: 250px
            min-width: 250px

        @media screen and ( max-width: $sm )
            display: none

        img
            height: 200px

    .info
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
        width: 100%
        height: 100%
        padding-right: 20px

        @media screen and ( max-width: $sm )
            padding-right: 0

        .title-and-subtotal
            display: flex
            justify-content: space-between
            align-items: center
            width: 100%
            margin-bottom: 10px

        .options
            display: flex
            justify-content: space-between
            align-items: flex-end
            width: 100%
            height: 100%

            @media screen and ( max-width: $sm )
                margin-top: 20px

            .numeric-quantity-button
                display: flex
                justify-content: space-between
                align-items: center
                width: 125px
                height: fit-content
                border: 1px solid rgba(grey, 0.5)
                border-radius: 5px
                background-color: white
                padding: 1px

                .button
                    min-width: 40px
                    width: 40px
                    height: 32px
                    background-color: #0c6961

                    &:hover
                        background-color: rgba(#0c6961, 0.8)

                    .icon
                        font-size: 15px
                        color: white
